// Import page-specific CSS files here.
@import "home";
/* 
.index-container {
  display: flex;
  grid-template-columns: 1fr 1fr;

  .card-trip {
      flex-grow: 1;
      display: grid;
      grid-gap: 16px;
      padding: 10px;
  }
} */
