<div class="container mt-3">
  <%= simple_form_for [ @location, @booking ] do |f| %>
    <div class= "form-group">
      <%= f.input :start_date, class: "form-control" %>
      <%= f.input :end_date, class: "form-control" %>
      <%= f.submit "Submit booking", class: "form-control btn btn-info" %>
    </div>
  <% end %>
</div>
<%# form embedded %>
