<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1532800783378-1bed60adaf58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1>Shoot in the best <strong> movie locations</strong> in the city!</h1>
    <p>Select, book, shoot!</p>
    <a class="btn btn-info" href="#">Book now</a>
  </div>
</div>