<div class="container">
  <div class="row justify-content-center form-group">
    <h2 class = "mb-3 mt-5">How it works</h2>
  </div>

  <div class="cards">
    <div class="card p-3">
      <%= image_tag "select.svg", alt: "Select" %>
      <h4>Select</h4>
      <p>Browse through our dazzling locations.</p>
    </div>
    <div class="card p-3">
      <%= image_tag "book.svg", alt: "Book" %>
      <h4>Book</h4>
      <p>Reserve your dream spot in just a few simple steps.</p>
    </div>
    <div class="card p-3">
      <%= image_tag "shoot.svg", alt: "Book" %>
      <h4>Shoot</h4>
      <p>Let your creative genius take the stage!</p>
    </div>
  </div>

</div>
