<div class="container">
  <div class="row justify-content-center form-group">
      <h1 class = "mb-5 mt-5">Find the right location for your project</h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1493246318656-5bfd4cfb29b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
        <div class="card-trip-infos">
          <div>
            <h2>Location 1</h2>
            <p>Location city / area</p>
          </div>
          <h2 class="card-trip-pricing">$100 per hour</h2>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1553770710-767cf46bfef4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80" />
        <div class="card-trip-infos">
          <div>
            <h2>Location 2</h2>
            <p>Location city / area</p>
          </div>
          <h2 class="card-trip-pricing">$100 per hour</h2>
        </div>
      </div>
    </div>
        <div class="col-sm">
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1273&q=80" />
        <div class="card-trip-infos">
          <div>
            <h2>Location 3</h2>
            <p>Location city / area</p>
          </div>
          <h2 class="card-trip-pricing">$100 per hour</h2>
        </div>
      </div>
    </div>
  </div>
</div>
