
<h1>All our locations:</h1>

<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <% @locations.each do |location| %>
      <div class="card-trip col-xs-12 col-md-3 m-2">
        <img src="https://images.unsplash.com/photo-1493246318656-5bfd4cfb29b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
        <div class="card-trip-infos">
          <div>
            <h2> <%= location.name %> </h2>
            <p><%= location.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%= location.daily_fee %> €</h2>
        </div>
      </div>
    <% end  %>
  </div>
</div>

