<div class="container mt-3">
<h1>All our locations:</h1>

  <div class="container mt-3 mb-5">
    <div class="row justify-content-center">
      <% @locations.each do |location| %>
        <div class="card-trip col-xs-12 col-md-3 m-2">
          <%= cl_image_tag @location.photos[0] %>
          <div class="card-trip-infos">
            <div>
              <h2> <%= link_to location.name, location_path(location) %></h2>
              <p><%= location.address %></p>
            </div>
            <h2 class="card-trip-pricing"><%= location.daily_fee %> €</h2>
          </div>
        </div>
      <% end  %>
    </div>
  </div>
</div>

